.kontener{
    margin:20px;
}
.sor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.kartya{
    background: #ff7675;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.2);
}

@media (max-width:800px){
    .kartya{
        flex:100%;
        max-width: 600px;
    }
}